<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>127557112245-cf3qvm2j8hpv8bu5bd5h9v6rsb146s25.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.127557112245-cf3qvm2j8hpv8bu5bd5h9v6rsb146s25</string>
	<key>API_KEY</key>
	<string>AIzaSyASJY6o0lph3cixqRfj6T7tII1zOjEixfc</string>
	<key>GCM_SENDER_ID</key>
	<string>127557112245</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.salman.fluttering</string>
	<key>PROJECT_ID</key>
	<string>my-fluttering</string>
	<key>STORAGE_BUCKET</key>
	<string>my-fluttering.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:127557112245:ios:94e4d1b03d5f8f77a349fc</string>
</dict>
</plist>